.Pad {
  border-style: solid;
  border-color: black;
  color: blue;
  height: 200px;
  width: 200px;
  margin: 20px;
  float: left; }

.PadIsHit {
  border-style: solid;
  border-color: #00FFFF;
  color: blue;
  height: 200px;
  width: 200px;
  margin: 20px;
  float: left; }

audio {
  width: 200px;
  background-color: white;
  margin-bottom: 0px; }

.padId {
  width: 100%;
  float: left;
  margin-left: 10px; }

.sampleFile {
  width: 100%;
  float: left;
  margin-left: 10px;
  color: gray;
  margin-top: 60px;
  margin-bottom: 4px;
  font-size: 14px; }
